#app {
    .chore-app {
        min-height: 100vh;

        .nav-item {
            cursor: pointer;
        }

        .chore-app-content {
            min-height: 100vh;
            .app-container {
                margin-top: 25px;
                @import './Notifications/Notifications.scss';
                @import './NewChore/NewChore.scss';
            }
        }
    }
}